{% if films %}
    <ul>
    {% for film in films %}
        <li>
            <h3>{{ film.title }}</h3>
            <ul>
                {% for person in film.people %}
                    <li>{{ person.name }}</li>
                {% endfor %}
            </ul>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No movies available.</p>
{% endif %}